div{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ACF0D7;
    padding: 10px;
    text-align: center;
    width: 800px;
    margin-left: 250px;
  }
  strong{
  	margin-left: 630px;
  }
  table{
  	border: 1px solid black;
    border-radius: 10px;
    background-color: lightblue;
    border-collapse: collapse;
  }