body{
    background: -moz-linear-gradient(top,  lightblue 0%, lightgreen 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lightblue), color-stop(50%,lightgreen), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  lightblue 0%, white 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  lightblue 0%, lightgreen 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  lightblue 0%, lightgreen 50%); /* IE10+ */
    font-family: verdana;
    padding-left: 25px;
   }
   @media screen and (min-width: 360px) and (max-width: 700px){
   
   strong{
    color:white;
    text-align: center;
   }
   button{
    font-size: 20px;
    color:white;
    background-color: #588CB5;
    border-radius: 10px;
   }
   input{
    border-radius: 20px;
   }
   div{
    background: -moz-linear-gradient(top,  lightgrey 0%, grey 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  lightgrey 0%,grey 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  lightgrey 0%, grey 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  lightgrey 0%, grey 50%); /* IE10+ */
    padding: 10px;
    border:1px solid #A2E868;
    border-radius: 10px;
    color:white;  
    width: 100%;
    min-height:20% ;
    max-width: 30%;
    -webkit-box-shadow: 0 10px 15px 0 rgba(0,0,0,0.4);
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.4);
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
   }
   img{
  width:auto;
    float:none;
    max-width: 80%;
height: auto;
}
   a{
    color:#588CB5;
    text-decoration: none;
   }
   a:hover{
    color:white;
   }
   ul{
    list-style: none;
    margin-left: -20px;
    margin-right: 10px;
   }
#botonconfirmar{
    margin: auto;
   }

 }
 @media screen and (min-width: 1024px){
   
   strong{   
    text-align: center;
   }
   button{
    font-size: 20px;
    color:white;
    background-color: #588CB5;
    border-radius: 10px;
   }
   input{
    border-radius: 20px;
   }
   div{
    padding: 10px;
    border:1px solid #A2E868;
    border-radius: 10px;
    color:white;   
     width: 100%;
     min-height:20% ;
     margin-right: 10px;
    max-width: 30%;
    -webkit-box-shadow: 0 10px 15px 0 rgba(0,0,0,0.4);
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.4);
    background: -moz-linear-gradient(top,  lightgrey 0%, grey 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  lightgrey 0%,grey 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  lightgrey 0%, grey 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  lightgrey 0%, grey 50%); /* IE10+ */
  float: left;
    margin-bottom: 10px;
    margin-right: 10px;
   }
   img{
  width:80%;
    float:none;
    max-width: 80%;
height: auto;
}
   
   a{
    color:#588CB5;
    text-decoration: none;
   }
   a:hover{
    color:white;
   }
  
   ul{
    list-style: none;
    margin-left: -20px;
    margin-right: 10px;
   }
  

#botonconfirmar{
    margin: auto;
   }
   
 }
 @media screen and (min-width: 700px) and (max-width: 1024px){
  
   strong{
    text-align: center;
   }
   button{
    font-size: 20px;
    color:white;
    background-color: #588CB5;
    border-radius: 10px;
   }
   input{
    border-radius: 20px;
   }
   div{
    background: -moz-linear-gradient(top,  lightgrey 0%, grey 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  lightgrey 0%,grey 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  lightgrey 0%, grey 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  lightgrey 0%, grey 50%); /* IE10+ */
    padding: 10px;
    border:1px solid #A2E868;
    border-radius: 10px;
    color:white;   
    width: 100%;
    min-height:20% ;
    margin-right: 10px;
    max-width: 30%;
    -webkit-box-shadow: 0 10px 15px 0 rgba(0,0,0,0.4);
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.4);
    margin-bottom: 10px;
    margin-right: 10px;
   }
   img{
  width:80%;
    float:none;
    max-width: 80%;
height: auto;
}
   a{
    color:#588CB5;
    text-decoration: none;
   }
   a:hover{
    color:white;
   }
  
   ul{
    list-style: none;
    margin-left: -20px;
    margin-right: 10px;
   }
   

#botonconfirmar{
    margin: auto;
   }

 }